.contactCard {
    margin: auto;
    border: solid green;
    width: 45%;
    height: 25em;
    text-align: center;
}

.subTitle {
    font-size: 15px;
    margin-top: -0.6em;
}

#contactButton {
    margin: auto;
    text-align: center;
}

#contactSubmit {
    background-color: green;
    color: white;
    width: 75%;
    margin: auto;
}