.contactCard {
    margin: auto;
    border: solid green;
    width: 18em;
    height: 25em;
}

.subTitle {
    font-size: 15px;
    margin-top: -0.6em;
}

.icons {
    display: flex;
    justify-content: space-around;
}