.contactCard {
    margin: auto;
    border: solid black;
    width: 60%;
    height: 40%;
    text-align: center;
}

.subTitle {
    font-size: 15px;
    margin-top: -0.6em;
}

#contactButton {
    margin: auto;
    text-align: center;
}

#contactSubmit {
    background-color: black;
    color: white;
    width: 75%;
    margin: auto;
}