.showcaseCard {
    display: flex;
    text-align: center;
    min-width: 30%;
}

.cardHeader {
    background-color: black;
    color: white;
}

.buildDate {
    margin-bottom: -1em;
}

.cardInfo {
    text-decoration: black;
}