

.showcaseCard {
    display: flex;
    text-align: center;
    min-width: 25%;
    /* max-width: 33%; */
}

.cardHeader {
    background-color: black;
    color: white;
}

.buildDate {
    margin-bottom: -1em;
}

.cardInfo {
    text-decoration: black;
}