.showcaseCards {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-around; */
}

.showcaseCard {
    text-align: center;
    margin: auto;
    min-width: 25%;
    max-width: 33%;
}

.cardHeader {
    background-color: black;
    color: white;
}

.buildDate {
    margin-bottom: -1em;
}

.cardInfo {
    text-decoration: black;
}