.mainNav {
    background-color: green;
    height: 3em;
}

.dropdown {
    background-color: green;
}

.socials {
    display: flex;
    flex-flow: row wrap;
}

.socialIcon {
    margin-right: .7em;
    color:white;
}

#firstSocial {
    margin-left: .4em;
}
